.fixed-menu {
  position: fixed;
  top: 37%;
  right: 2%;
  z-index: $z-fixed-menu;
  @include tablets {
    display: none;
  }
}
.fixed-menu__item {
  margin-bottom: rem(3px);
  &--active {
    .fixed-menu__link {
      border-color: #e01f3d;
      &::before {
        background: #e01f3d;
      }
    }
  }
  &:hover {
    .fixed-menu__link {
      border-color: #e01f3d;
      &::before {
        background: #e01f3d;
      }
    }
  }
}
.fixed-menu__link {
  width: rem(18px);
  height: rem(18px);
  border-radius: 50%;
  border: rem(1px) solid transparent;
  display: block;
  position: relative;
  &::before {
    content: "";
    display: block;
    width: rem(6px);
    height: rem(6px);
    border-radius: 50%;
    background: #292929;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
