html {
  font-family: "Play", sans-serif;
  scroll-behavior: smooth;
  font-size: $baseFontSize;


  @include tablets {
    font-size: $baseFontSize - 1px;
  }
  @include phones {
    // font-size: $baseFontSize - 2px;
    font-size: 2.91666vmin
  }
}

body,
html {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #292929;
  margin: 0;
  background: #fff;
}
.body-active-menu{
  overflow-y:hidden
}

button {
  border: 0;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  color: #666666;
}

button {
  cursor: pointer;
  font-weight: bold;
  font-size: $baseFontSize;
  line-height: rem(18px);
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s all;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper__content {
  flex: 1;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 95%;
  height: 100%;
  max-width: $containerWidth;
  position: relative;
  // min-height: rem(600px);
}


