@import "./layout/normalize.css";
html {
  font-family: "Play", sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

body,
html {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #292929;
  margin: 0;
  background: #fff;
}

button {
  border: 0;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  color: #666666;
}

button {
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.125rem;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 95%;
  height: 100%;
  max-width: 915px;
  position: relative;
}

.hero {
  background-color: #f5f5f5;
  height: 100vh;
  min-height: 36.875rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 48.75rem;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    min-height: 46.25rem;
  }
}
.hero::after {
  content: url("../img/Rectangle1.png");
  position: absolute;
  bottom: -1.4375rem;
  right: 6.5rem;
}

.hero__title-section {
  width: 47%;
  margin-bottom: 5.625rem;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__title-section::before {
    content: "";
    width: 20rem;
    height: 20rem;
    background: url("../img/beats1table.png") center center/contain no-repeat;
    margin-bottom: 4rem;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.5rem 0 4.0625rem;
  background: url("../img/beats1.png") right center/52% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.hero__main-title {
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.25rem;
  margin-bottom: 0.3125rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    padding: 0 8%;
    margin-bottom: 0rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2rem;
    line-height: 2.25rem;
    margin-bottom: 0.875rem;
    line-height: 36px;
    padding: 0 12%;
    margin-bottom: 0;
  }
}

.hero__title-desc {
  font-family: "Alegreya Sans";
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  white-space: pre-line;
  margin-bottom: 3.4375rem;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 25%;
    margin-bottom: 1.5625rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    font-size: 1.125rem;
    line-height: 1.25rem;
    padding: 0 22%;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    padding-top: 1.25rem;
    display: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .contacts-phone.header__contacts-phone {
    display: none;
  }
}

.menu {
  margin: 0 30px;
  padding-top: 10px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.125rem;
  font-family: "Alegreya Sans";
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu__item {
  margin-right: 1.75rem;
  margin-bottom: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  white-space: nowrap;
}

.contacts-phone {
  font-size: 1.125rem;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}
@media screen and (max-width: 768px) {
  .contacts-phone {
    color: #e01f3d;
  }
}
@media screen and (max-width: 480px) {
  .contacts-phone {
    color: #292929;
  }
}
.contacts-phone__icon {
  margin-right: 0.375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.contacts-phone__icon-elem {
  width: 0.875rem;
  height: 0.875rem;
}
@media screen and (max-width: 768px) {
  .contacts-phone__icon-elem {
    fill: #e01f3d;
  }
}
@media screen and (max-width: 480px) {
  .contacts-phone__icon-elem {
    fill: #292929;
  }
}
.contacts-phone__text {
  white-space: nowrap;
}

.hamburger {
  width: 26px;
  height: 24px;
  margin-top: 6px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 0.625rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.feature__icon {
  width: 2.5625rem;
  margin-right: 0.6875rem;
}
.feature__icon-elem {
  width: 2.5625rem;
  height: 2.5625rem;
}

.feature__text {
  max-width: 7.125rem;
  white-space: pre-line;
}

.btn {
  font-weight: bold;
  font-size: 1rem;
  padding: 1.125rem 2.5625rem;
  text-transform: uppercase;
  border-radius: 6.25rem;
  line-height: 1;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .btn {
    padding: 1.3125rem 2.5625rem;
  }
}
@media screen and (max-width: 480px) {
  .btn {
    padding: 1.3125rem 2.25rem;
  }
}
.btn--red {
  color: #ffffff;
  background: #e01f3d;
}
.btn--transparent {
  background: transparent;
  color: #ffffff;
  text-transform: none;
}
@media screen and (max-width: 768px) {
  .btn--transparent {
    color: #e01f3d;
  }
}
.btn--big {
  padding: 1.3125rem 2.5625rem;
}

.section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 6.3125rem;
}

.section__title {
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.25rem;
  margin-bottom: 3.75rem;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2rem;
    line-height: 2.25rem;
    margin-bottom: 0.875rem;
    padding: 0 2%;
  }
}

.headline {
  text-align: center;
}
.headline__title {
  margin-bottom: 1.125rem;
}
.headline__subtitle {
  color: #666666;
  padding: 0 20%;
  margin-bottom: 3.875rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    margin-bottom: 3.3125rem;
    padding: 0 5%;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 4%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.9375rem;
  }
}
.benefits__item::before {
  content: url("../img/Comb.png");
  position: absolute;
  top: 3.9375rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}
@media screen and (max-width: 768px) {
  .benefits__item::before {
    display: none;
  }
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__icon {
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__image {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 0.75rem;
  }
}
.benefit__image-wrapper {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background: #f2f5f4;
}

.benefit__title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 0.4375rem;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    margin-bottom: 0.375rem;
  }
}

.benefits__section {
  position: relative;
  min-height: 40.625rem;
}
@media screen and (max-width: 768px) {
  .benefits__section {
    min-height: 48.125rem;
  }
}
@media screen and (max-width: 480px) {
  .benefits__section {
    min-height: 59.375rem;
  }
}
.benefits__section::before {
  content: url("../img/Rectangle2.png");
  position: absolute;
  bottom: -1rem;
  left: 3.75rem;
}

@media screen and (max-width: 480px) {
  .benefit__text {
    padding-right: 8%;
  }
}

.reviews__display {
  background: #f8faf9;
  padding: 2.625rem;
  margin-bottom: 0.625rem;
  overflow: hidden;
  position: relative;
}
.reviews__display::before {
  content: "";
  display: block;
  width: 5.1875rem;
  height: 5.1875rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -3.8125rem;
}
.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 15.8125rem;
  height: 16.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 8.125rem;
    height: 8.125rem;
  }
}
.reviews__avatar-img {
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.5rem;
  max-width: 28.75rem;
  padding-top: 2rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
  }
}

.reviews__title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 1.6875rem;
}

.reviews__text {
  margin-bottom: 2.375rem;
}

.reviews__autor {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}

.interactive-avatar {
  width: 5.375rem;
  height: 5.375rem;
  border: 0.375rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active:hover {
  border-color: #e01f3d;
}
.interactive-avatar:hover {
  border-color: #e01f3d;
}
.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}
.interactive-avatar__icon {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__section {
  position: relative;
  min-height: 41.875rem;
}
@media screen and (max-width: 768px) {
  .reviews__section {
    min-height: 48.125rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__section {
    min-height: 49.375rem;
  }
}
.reviews__section::before {
  content: url("../img/Ellipse1.png");
  position: absolute;
  bottom: -1.5625rem;
  left: 5rem;
}

.order-section {
  background: url("../img/form-bg.png") center center no-repeat;
  min-height: 40.625rem;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .order-section {
    min-height: 53.75rem;
  }
}
@media screen and (max-width: 480px) {
  .order-section {
    min-height: 49.375rem;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 17%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.6875rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.6875rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.0625rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1.125rem 0.75rem;
  border: solid 0.1875rem transparent;
  border-radius: 0.25rem;
}
.form__input--textarea {
  height: 9.5rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 5.125rem;
  }
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.5rem 0.625rem;
  }
}
.form__input:focus {
  border-color: #e01f3d;
  outline: none;
}

.form__input--textarea {
  margin-bottom: 1.25rem;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__title {
  margin-bottom: 0.375rem;
}

@media screen and (max-width: 768px) {
  .form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 1rem;
  margin-bottom: 0.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .radio {
    margin-right: 1.6875rem;
  }
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 0.625rem;
  }
}
.radio--checkbox {
  margin-top: 1.1875rem;
  margin-bottom: 2.875rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0.25rem;
}
.radio--checkbox .radio__visible::before {
  background: url("../img/Check.png") center center no-repeat;
}
@media screen and (max-width: 768px) {
  .radio--checkbox {
    margin-top: 1.625rem;
  }
}

.radio_elem {
  display: none;
}
.radio_elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.5625rem;
  height: 1.5625rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.625rem;
}
.radio__visible::before {
  content: "";
  width: 0.8125rem;
  height: 0.8125rem;
  background: #e01f3d;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.map-section {
  overflow: hidden;
  min-height: 46.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .map-section {
    min-height: 36.25rem;
  }
}
@media screen and (max-width: 480px) {
  .map-section {
    min-height: 28.125rem;
  }
}

.map__container {
  margin: auto auto 0 auto;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.375rem;
  max-width: 68.75rem;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
}
@media screen and (max-width: 768px) {
  .footer__container {
    height: 6.6875rem;
  }
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 9.4375rem;
  }
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__col--align--right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.map__contacts {
  margin-left: 5.375rem;
}
@media screen and (max-width: 768px) {
  .map__contacts {
    margin-left: 1.875rem;
  }
}
@media screen and (max-width: 480px) {
  .map__contacts {
    margin-bottom: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
  }
}

.contacts__desc {
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-align: end;
  font-style: normal;
}
@media screen and (max-width: 768px) {
  .contacts__desc {
    white-space: nowrap;
  }
}

.social__link {
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  background: center center no-repeat;
}
.social__link-elem {
  width: 1.875rem;
  height: 1.875rem;
  fill: #b3b3b3;
}
.social__link-elem:hover {
  fill: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social__item {
  margin-right: 0.625rem;
}

.social__item:last-child {
  margin-right: 0;
}

.social__list {
  margin-right: 3.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .social__list {
    margin-right: 0;
    padding-bottom: 1.9375rem;
  }
}

.social__link--tel::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
}

.social__link--vk::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
}

.social__link--fb::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
}

.social__link--ins::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
}

.fixed-menu {
  position: fixed;
  top: 37%;
  right: 2%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.1875rem;
}
.fixed-menu__item--active:hover .fixed-menu__link {
  border-color: #e01f3d;
}
.fixed-menu__item--active:hover .fixed-menu__link::before {
  background: #e01f3d;
}
.fixed-menu__item:hover .fixed-menu__link {
  border-color: #e01f3d;
}
.fixed-menu__item:hover .fixed-menu__link::before {
  background: #e01f3d;
}

.fixed-menu__link {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #292929;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}