@import "./layout/normalize.css";
html {
  font-family: "Play", sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 2.91666vmin;
  }
}

body,
html {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #292929;
  margin: 0;
  background: #fff;
}

.body-active-menu {
  overflow-y: hidden;
}

button {
  border: 0;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
  color: #666666;
}

button {
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.125rem;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  overflow: hidden;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.maincontent {
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.container {
  margin: 0 auto;
  width: 95%;
  height: 100%;
  max-width: 915px;
  position: relative;
}

.hero {
  background-color: #f5f5f5;
  height: 100vh;
  min-height: 36.875rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 55rem;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    min-height: 53.125rem;
  }
}
.hero::after {
  content: url("../img/Rectangle1.png");
  position: absolute;
  bottom: -1.4375rem;
  right: 6.5rem;
}

.hero__title-section {
  width: 47%;
  margin-bottom: 5.625rem;
}
@media screen and (max-width: 768px) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 0;
  }
  .hero__title-section::before {
    content: "";
    width: 20rem;
    height: 20rem;
    background: url("../img/beats1table.png") center center/contain no-repeat;
    margin-bottom: 4rem;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 1.5rem 0 4.0625rem;
  background: url("../img/beats1.png") right center/52% auto no-repeat;
}
@media screen and (max-width: 768px) {
  .hero__container {
    background: none;
  }
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .hero__content {
    padding-top: 6.25rem;
  }
}

.hero__main-title {
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.25rem;
  margin-bottom: 0.3125rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .hero__main-title {
    padding: 0 8%;
    margin-bottom: 0rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__main-title {
    font-size: 2rem;
    line-height: 2.25rem;
    margin-bottom: 0.875rem;
    line-height: 36px;
    padding: 0 8%;
    margin-bottom: 0;
  }
}

.hero__title-desc {
  font-family: "Alegreya Sans";
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  white-space: pre-line;
  margin-bottom: 3.4375rem;
}
@media screen and (max-width: 768px) {
  .hero__title-desc {
    padding: 0 25%;
    margin-bottom: 1.5625rem;
  }
}
@media screen and (max-width: 480px) {
  .hero__title-desc {
    font-size: 1.125rem;
    line-height: 1.25rem;
    padding: 0 22%;
  }
}

@media screen and (max-width: 768px) {
  .hero__icons-section {
    padding-top: 1.25rem;
    display: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .contacts-phone.header__contacts-phone {
    display: none;
  }
}

.menu {
  margin: 0 30px;
  padding-top: 10px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.125rem;
  font-family: "Alegreya Sans";
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu__item {
  margin-right: 1.75rem;
  margin-bottom: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  white-space: nowrap;
}

.contacts-phone {
  font-size: 1.125rem;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}
@media screen and (max-width: 768px) {
  .contacts-phone {
    color: #e01f3d;
  }
}
@media screen and (max-width: 480px) {
  .contacts-phone {
    color: #292929;
  }
}
.contacts-phone__icon {
  margin-right: 0.375rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.contacts-phone__icon-elem {
  width: 0.875rem;
  height: 0.875rem;
}
@media screen and (max-width: 768px) {
  .contacts-phone__icon-elem {
    fill: #e01f3d;
  }
}
@media screen and (max-width: 480px) {
  .contacts-phone__icon-elem {
    fill: #292929;
  }
}
.contacts-phone__text {
  white-space: nowrap;
}

.hamburger__container--active {
  display: block;
  z-index: 10000;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.hamburger {
  width: 1.625rem;
  height: 1.5rem;
  margin-top: 0.375rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px;
  border-radius: 10px;
}
.hamburger--active {
  width: 20px;
  height: 20px;
  margin-top: 0.375rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hamburger--active .hamburger__plank {
  background-color: white;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0s;
  transition: 0s;
}
.hamburger--active .hamburger__plank:first-child {
  -webkit-transform: translateY(4px) rotate(135deg);
          transform: translateY(4px) rotate(135deg);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.hamburger--active .hamburger__plank:last-child {
  -webkit-transform: translateY(-12px) rotate(-135deg);
          transform: translateY(-12px) rotate(-135deg);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.fullscreen-menu {
  display: none;
  height: 100%;
  width: 100%;
  min-height: 30rem;
  background-color: #313131;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.fullscreen-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
.fullscreen-menu .menu__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fullscreen-menu .menu .fullscreen-menu__link {
  color: white;
  font-size: 2.25rem;
  line-height: 4.5rem;
  white-space: nowrap;
}
.fullscreen-menu--open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .menu__item {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 0.625rem;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.feature__icon {
  width: 2.5625rem;
  margin-right: 0.6875rem;
}
.feature__icon-elem {
  width: 2.5625rem;
  height: 2.5625rem;
}

.feature__text {
  max-width: 7.125rem;
  white-space: pre-line;
}

.btn {
  font-weight: bold;
  font-size: 1rem;
  padding: 1.125rem 2.5625rem;
  text-transform: uppercase;
  border-radius: 6.25rem;
  line-height: 1;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .btn {
    padding: 1.3125rem 2.5625rem;
  }
}
@media screen and (max-width: 480px) {
  .btn {
    padding: 1.3125rem 2.25rem;
  }
}
.btn--red {
  color: #ffffff;
  background: #e01f3d;
}
.btn--transparent {
  background: transparent;
  color: #ffffff;
  text-transform: none;
}
@media screen and (max-width: 768px) {
  .btn--transparent {
    color: #e01f3d;
  }
}
.btn--big {
  padding: 1.3125rem 2.5625rem;
}

.section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 6.3125rem;
}

.section__title {
  font-weight: bold;
  font-size: 3rem;
  line-height: 3.25rem;
  margin-bottom: 3.75rem;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2rem;
    line-height: 2.25rem;
    margin-bottom: 0.875rem;
    padding: 0 2%;
  }
}

.headline {
  text-align: center;
}
.headline__title {
  margin-bottom: 1.125rem;
}
.headline__subtitle {
  color: #666666;
  padding: 0 20%;
  margin-bottom: 3.875rem;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    margin-bottom: 3.3125rem;
    padding: 0 5%;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 4%;
  position: relative;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 1.9375rem;
  }
}
.benefits__item::before {
  content: url("../img/Comb.png");
  position: absolute;
  top: 3.9375rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
}
.benefits__item:last-child::before {
  display: none;
}
@media screen and (max-width: 768px) {
  .benefits__item::before {
    display: none;
  }
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__icon {
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__image {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 480px) {
  .benefit__image {
    margin-bottom: 0;
    margin-right: 0.75rem;
  }
}
.benefit__image-wrapper {
  display: inline-block;
  width: 8rem;
  height: 8rem;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background: #f2f5f4;
}

.benefit__title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 0.4375rem;
}
@media screen and (max-width: 480px) {
  .benefit__title {
    margin-bottom: 0.375rem;
  }
}

.benefits__section {
  position: relative;
  min-height: 40.625rem;
}
@media screen and (max-width: 768px) {
  .benefits__section {
    min-height: 48.125rem;
  }
}
@media screen and (max-width: 480px) {
  .benefits__section {
    min-height: 59.375rem;
  }
}
.benefits__section::before {
  content: url("../img/Rectangle2.png");
  position: absolute;
  bottom: -1rem;
  left: 3.75rem;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .container--benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .benefit__text {
    padding-right: 8%;
  }
}

.reviews__display {
  background: #f8faf9;
  padding: 2.625rem;
  margin-bottom: 0.625rem;
  overflow: hidden;
  position: relative;
  min-height: 21.75rem;
}
.reviews__display::before {
  content: "";
  display: block;
  width: 5.1875rem;
  height: 5.1875rem;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -3.8125rem;
}
.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.reviews__item--active {
  position: static;
  opacity: 1;
  pointer-events: unset;
}

.reviews__avatar {
  width: 15.8125rem;
  height: 16.5rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 8.125rem;
    height: 8.125rem;
  }
}
.reviews__avatar-img {
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 2.5rem;
  max-width: 28.75rem;
  padding-top: 2rem;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
  }
}

.reviews__title {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 1.6875rem;
}

.reviews__text {
  margin-bottom: 2.375rem;
}

.reviews__autor {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.3125rem;
}

.interactive-avatar {
  width: 5.375rem;
  height: 5.375rem;
  border: 0.375rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active:hover {
  border-color: #e01f3d;
}
.interactive-avatar:hover {
  border-color: #e01f3d;
}
.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}
.interactive-avatar__icon {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__section {
  position: relative;
  min-height: 43.75rem;
}
@media screen and (max-width: 768px) {
  .reviews__section {
    min-height: 50rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__section {
    min-height: 53.125rem;
  }
}
.reviews__section::before {
  content: url("../img/Ellipse1.png");
  z-index: 10;
  position: absolute;
  bottom: -1.5625rem;
  left: 5rem;
}

@media screen and (max-width: 768px) {
  .container--reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.order-section {
  background: url("../img/form-bg.png") center center no-repeat;
  min-height: 40.625rem;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .order-section {
    min-height: 53.75rem;
  }
}
@media screen and (max-width: 480px) {
  .order-section {
    min-height: 49.375rem;
  }
}

@media screen and (max-width: 768px) {
  .container--order {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 17%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.6875rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.6875rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.0625rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1.125rem 0.75rem;
  border: solid 0.1875rem transparent;
  border-radius: 0.25rem;
}
.form__input--textarea {
  height: 9.5rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 5.125rem;
  }
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.5rem 0.625rem;
  }
}
.form__input:focus {
  border-color: #e01f3d;
  outline: none;
}

.input-error {
  border-color: red;
}

.form__input--textarea {
  margin-bottom: 1.25rem;
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__title {
  margin-bottom: 0.375rem;
}

@media screen and (max-width: 768px) {
  .form__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 1rem;
  margin-bottom: 0.3125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px) {
  .radio {
    margin-right: 1.6875rem;
  }
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 0.625rem;
  }
}
.radio--checkbox {
  margin-top: 1.1875rem;
  margin-bottom: 2.875rem;
}
.radio--checkbox .radio__visible {
  border-radius: 0.25rem;
}
.radio--checkbox .radio__visible::before {
  background: url("../img/Check.png") center center no-repeat;
}
@media screen and (max-width: 768px) {
  .radio--checkbox {
    margin-top: 1.625rem;
  }
}

.radio_elem {
  display: none;
}
.radio_elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.5625rem;
  height: 1.5625rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 0.625rem;
}
.radio__visible::before {
  content: "";
  width: 0.8125rem;
  height: 0.8125rem;
  background: #e01f3d;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.map-section {
  overflow: hidden;
  min-height: 46.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}
@media screen and (max-width: 768px) {
  .map-section {
    min-height: 36.25rem;
  }
}
@media screen and (max-width: 480px) {
  .map-section {
    min-height: 28.125rem;
  }
}

.map__container {
  margin: auto auto 0 auto;
  width: 100%;
  height: 100%;
}

.footer {
  background: #ffffff;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.375rem;
  max-width: 68.75rem;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
}
@media screen and (max-width: 768px) {
  .footer__container {
    height: 6.6875rem;
  }
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 9.4375rem;
  }
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__col--align--right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.map__contacts {
  margin-left: 5.375rem;
}
@media screen and (max-width: 768px) {
  .map__contacts {
    margin-left: 1.875rem;
  }
}
@media screen and (max-width: 480px) {
  .map__contacts {
    margin-bottom: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
  }
}

.contacts__desc {
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-align: end;
  font-style: normal;
}
@media screen and (max-width: 768px) {
  .contacts__desc {
    white-space: nowrap;
  }
}

.social__link {
  display: block;
  width: 1.875rem;
  height: 1.875rem;
  background: center center no-repeat;
}
.social__link-elem {
  width: 1.875rem;
  height: 1.875rem;
  fill: #b3b3b3;
}
.social__link-elem:hover {
  fill: #000000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social__item {
  margin-right: 0.625rem;
}

.social__item:last-child {
  margin-right: 0;
}

.social__list {
  margin-right: 3.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .social__list {
    margin-right: 0;
    padding-bottom: 1.9375rem;
  }
}

.social__link--tel::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
}

.social__link--vk::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
}

.social__link--fb::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
}

.social__link--ins::after {
  position: absolute;
  content: "";
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
}

.fixed-menu {
  position: fixed;
  top: 37%;
  right: 2%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 0.1875rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #e01f3d;
}
.fixed-menu__item--active .fixed-menu__link::before {
  background: #e01f3d;
}
.fixed-menu__item:hover .fixed-menu__link {
  border-color: #e01f3d;
}
.fixed-menu__item:hover .fixed-menu__link::before {
  background: #e01f3d;
}

.fixed-menu__link {
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  border: 0.0625rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background: #292929;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.shop__section {
  position: relative;
  min-height: 46.875rem;
  background: #f8faf9;
}
@media screen and (max-width: 768px) {
  .shop__section {
    min-height: 48.75rem;
  }
}
@media screen and (max-width: 480px) {
  .shop__section {
    min-height: 48.75rem;
  }
}
.shop__section::after {
  content: url("../img/Rectangle13.png");
  position: absolute;
  bottom: -1.4375rem;
  right: 6.5rem;
}

.shop__item {
  position: relative;
}

.bx-wrapper {
  border: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.shop__controls {
  display: block;
  position: relative;
  top: 30%;
}
@media screen and (max-width: 768px) {
  .shop__controls {
    top: 130px;
    right: 5%;
  }
}
@media screen and (max-width: 480px) {
  .shop__controls {
    top: 8.125rem;
  }
}

.shop__btn {
  position: absolute;
  z-index: 10;
}
.shop__btn_right {
  right: -5%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media screen and (max-width: 768px) {
  .shop__btn_right {
    right: 8%;
  }
}
@media screen and (max-width: 480px) {
  .shop__btn_right {
    right: 0%;
  }
}
.shop__btn_left {
  left: -3.3125rem;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
@media screen and (max-width: 768px) {
  .shop__btn_left {
    left: 17%;
  }
}
@media screen and (max-width: 480px) {
  .shop__btn_left {
    left: 10%;
  }
}

.shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}
@media screen and (max-width: 768px) {
  .shop {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.shop__picture {
  margin-right: 0.625rem;
  position: relative;
  width: 28.25rem;
  height: 28.25rem;
}
@media screen and (max-width: 768px) {
  .shop__picture {
    width: 19.125rem;
    height: 19.125rem;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px) {
  .shop__picture {
    width: 64%;
    height: auto;
  }
}
.shop__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5.6875rem;
  height: 91px;
  background-color: #9a9a9a;
  border-radius: 4px;
  margin-bottom: 1.5625rem;
}
@media screen and (max-width: 768px) {
  .shop__menu {
    display: none;
  }
}
.shop__icon--gear {
  width: 50%;
  fill: white;
}
.shop__icon-elem {
  width: 1.5rem;
  height: 2.5rem;
}
.shop__column {
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
@media screen and (max-width: 768px) {
  .shop__column {
    width: 100%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 3.125rem;
    padding-top: 3.0625rem;
  }
}
.shop__title {
  max-width: 26.1875rem;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  font-size: 2.25rem;
  line-height: 2.625rem;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 768px) {
  .shop__title {
    max-width: 100%;
    text-align: center;
    font-size: 1.75rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 480px) {
  .shop__title {
    font-size: 28px;
    line-height: 32px;
  }
}
.shop__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1.6875rem;
}
@media screen and (max-width: 768px) {
  .shop__description {
    width: 47%;
  }
}
.shop__row {
  margin: 0.5rem 0 1.6875rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .shop__row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.shop__purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shop__price {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 60px;
  color: #151515;
  margin-right: 3.3125rem;
  margin-bottom: 0.625rem;
}
@media screen and (max-width: 768px) {
  .shop__price {
    margin-bottom: 0;
  }
}

.description {
  width: 50%;
}

.description__title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}

.decsription__text {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}

.gear {
  position: relative;
}
.gear:hover .gear__list {
  left: 100%;
  opacity: 1;
}
.gear .gear__list {
  position: absolute;
  top: 0;
  left: -9999px;
  opacity: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 15px 27px 30px 12px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  -webkit-box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
          box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}
.gear .gear__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
.gear .gear__icon {
  width: 32px;
  height: 32px;
  margin-right: 12px;
}
.gear .gear__text {
  min-width: 130px;
}
.gear .gear__number {
  margin-left: auto;
}

.team__section {
  min-height: 54.6875rem;
}
@media screen and (max-width: 768px) {
  .team__section {
    min-height: 47.5rem;
  }
}
@media screen and (max-width: 480px) {
  .team__section {
    min-height: 36.5625rem;
  }
}

.team__container {
  max-width: 58.75rem;
  margin-bottom: 12.5rem;
}
@media screen and (max-width: 768px) {
  .team__container {
    margin-bottom: 6.25rem;
  }
}

.slider__pic {
  margin-bottom: 1.5625rem;
}
@media screen and (max-width: 480px) {
  .slider__pic {
    width: 8.625rem;
    margin: 0 auto;
    margin-bottom: 18px;
  }
}

.slider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .slider__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .slider__list--desktop {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .slider__list--desktop {
    display: none;
  }
}

.slider__list--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .slider__list--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 480px) {
  .slider__list--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.slider__item {
  text-align: center;
  margin-right: 1.25rem;
  margin-bottom: 3.75rem;
  width: 13.75rem;
  position: relative;
}
.slider__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .slider__item:last-child {
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .slider__item {
    margin: 0 auto;
    width: 13.75rem;
  }
}

.slider__name {
  display: block;
  margin: 0 auto;
  color: #292929;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  position: relative;
  margin-bottom: 0.6875rem;
  border: none;
  background: none;
}
.slider__name::after {
  position: absolute;
  top: 50%;
  right: -5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  width: 0;
  height: 0;
  -webkit-transition: 0.3s border-top ease-in-out;
  transition: 0.3s border-top ease-in-out;
  border-top: 0.5rem solid red;
  border-right: 0.25rem solid transparent;
  border-bottom: 0rem solid red;
  border-left: 0.25rem solid transparent;
}
@media screen and (max-width: 768px) {
  .slider__name {
    font-size: 1.3125rem;
    line-height: 1.5625rem;
  }
}

.slider__description {
  overflow: hidden;
  height: 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
}
.slider__description--wrap {
  height: 6.25rem;
}
@media screen and (max-width: 768px) {
  .slider__description--wrap {
    height: 25.625rem;
  }
}
@media screen and (max-width: 480px) {
  .slider__description--wrap {
    height: 20.625rem;
  }
}
@media screen and (max-width: 768px) {
  .slider__description {
    position: relative;
    top: initial;
    left: initial;
  }
}

.slider__work {
  color: #292929;
}
@media screen and (max-width: 768px) {
  .slider__work {
    font-size: 1.3125rem;
    line-height: 1.5625rem;
    display: block;
    margin-bottom: 0.75rem;
  }
}

.slider__competence {
  color: #666666;
}

.slider__name--active::after {
  border-top: 0rem solid red;
  border-right: 0.25rem solid transparent;
  border-bottom: 0.5rem solid red;
  border-left: 0.25rem solid transparent;
}

.products__section {
  background: url("../img/products-bg5.png") top right -30%/cover no-repeat;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 25rem;
}
@media screen and (max-width: 768px) {
  .products__section {
    background: url("../img/products-bg5.png") center right/cover no-repeat;
    min-height: 56.25rem;
  }
}
@media screen and (max-width: 480px) {
  .products__section {
    min-height: 46.875rem;
  }
}

.products__title {
  position: absolute;
  width: 10.625rem;
  height: 3.25rem;
  left: 5.25rem;
  top: 7.1875rem;
  font-family: Play;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 52px;
  text-align: start;
  color: #ffffff;
}
@media screen and (max-width: 480px) {
  .products__title {
    left: 1.25rem;
    font-size: 32px;
    line-height: 36px;
  }
}

.products-menu__list {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product__content {
  position: relative;
  width: 0;
  background: rgba(51, 53, 55, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  overflow: hidden;
  -webkit-transition: width 0.7s;
  transition: width 0.7s;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.product--silver .product__title {
  background-color: #999999;
}
.product--black .product__title {
  background-color: #151515;
}
.product--red .product__title {
  background-color: #e01f3d;
}
@media screen and (max-width: 480px) {
  .product--active {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 1;
  }
}
.product--active .product__content {
  display: block;
  width: 524px;
  color: white;
}
.product--active .product__content .product__text {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.product__title {
  width: 6.375rem;
  height: 100%;
  position: relative;
}

.product__title--text {
  position: absolute;
  left: 50%;
  bottom: 10px;
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: white;
  white-space: nowrap;
  -webkit-transform: rotate(-90deg) translateY(-50%);
          transform: rotate(-90deg) translateY(-50%);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}

.product__text {
  padding: 1.9375rem 2.375rem;
  opacity: 0;
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.video__section {
  position: relative;
  background: #f8faf9;
  min-height: 43.75rem;
}
@media screen and (max-width: 480px) {
  .video__section {
    min-height: 28.125rem;
  }
}
.video__section::after {
  content: url("../img/Polygon7.png");
  position: absolute;
  bottom: -1.875rem;
  right: 5.5rem;
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 41.375rem;
  height: 24.5rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .player {
    width: 37.125rem;
    height: 21.9375rem;
  }
}
@media screen and (max-width: 480px) {
  .player {
    width: 24.625rem;
    height: 14.5625rem;
  }
}

.player__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.video {
  width: 100%;
}

.video__player {
  width: 100%;
}

.player__controls {
  width: 100%;
  background: #151515;
  height: 2.125rem;
  position: absolute;
  top: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5625rem 1.0625rem;
}

.player__start {
  display: block;
  width: 0;
  height: 0;
  border: 0.6875rem solid transparent;
  border-right-width: 0;
  border-top-width: 0.5rem;
  border-bottom-width: 0.5rem;
  border-left-color: white;
  background: #151515;
  padding: 0;
  border-radius: 10%;
  outline: none;
  cursor: pointer;
}
.player__start--active {
  width: 10px;
  height: 10px;
  border: 0px solid white;
  border-left-width: 0.25rem;
  border-right-width: 0.25rem;
  border-radius: 0;
  background: #151515;
}

.player__playback {
  position: relative;
  width: 27.625rem;
  height: 0.25rem;
  background: -webkit-gradient(linear, left top, right top, from(#e01f3d), color-stop(0%, #333));
  background: linear-gradient(to right, #e01f3d 0%, #333 0%);
  margin-left: 1.75rem;
}

.player__playback-line {
  position: relative;
  width: 0%;
  height: 100%;
  background: #e01f3d;
}

.player__playback-button {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background: #e01f3d;
  top: 50%;
  left: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0;
}

.player__volume-icon {
  width: 0.8125rem;
  height: 1rem;
  position: relative;
  opacity: 1;
  margin-left: 5%;
  cursor: pointer;
}
.player__volume-icon.muted::before {
  content: "";
  display: block;
  width: 150%;
  height: 2px;
  background-color: #e01f3d;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%) rotate(45deg);
          transform: translate(-50%) rotate(45deg);
}

.player__volume--img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  fill: white;
}

.player__volume {
  position: relative;
  width: 3.875rem;
  height: 0.25rem;
  position: relative;
  margin-left: 1.5rem;
  background: -webkit-gradient(linear, left top, right top, from(#e01f3d), color-stop(0%, #333));
  background: linear-gradient(to right, #e01f3d 0%, #333 0%);
  cursor: pointer;
}

.player__volume-bar {
  width: 0;
  height: 100%;
  background: #e01f3d;
}

.player__volume-button {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background: #e01f3d;
  top: 50%;
  left: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0;
}

.player__splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/player7.png) center center/cover no-repeat;
  cursor: pointer;
}

.player--active .player__splash {
  display: none;
}

.player__elem {
  width: 41.375rem;
  height: 24.5rem;
}
@media screen and (max-width: 768px) {
  .player__elem {
    width: 37.125rem;
    height: 21.9375rem;
  }
}
@media screen and (max-width: 480px) {
  .player__elem {
    width: 24.625rem;
    height: 14.5625rem;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 309px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}
.modal.error-modal .modal__content {
  color: red;
}
.modal.fancybox-content {
  padding: 0 !important;
}
.modal .fancybox-button {
  display: none;
}
.modal__content {
  margin-bottom: 39px;
  color: #000;
}

.modal__container {
  background: #fff;
  padding: 37px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}