.video__section {
  position: relative;
  background: #f8faf9;
  min-height: rem(700px);
  @include phones {
    min-height: rem(450px);
  }
  &::after {
    content: url("../img/Polygon7.png");
    position: absolute;
    bottom: rem(-30px);
    right: rem(88px);
  }
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: rem(662px);
  height: rem(392px);
  position: relative;

  @include tablets {
    width: rem(594px);
    height: rem(351px);
  }
  @include phones {
    width: rem(394px);
    height: rem(233px);
  }
}

.player__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.video {
  width: 100%;
}
.video__player {
  width: 100%;
}

.player__controls {
  width: 100%;
  background: #151515;
  height: rem(34px);
  position: absolute;
  top: 97%;
  display: flex;
  align-items: center;
  padding: rem(9px) rem(17px);
}

.player__start {
  display: block;
  width: 0;
  height: 0;
  border: rem(11px) solid transparent;
  border-right-width: 0;
  border-top-width: 0.5rem;
  border-bottom-width: 0.5rem;
  border-left-color: white;
  background: #151515;
  padding: 0;
  border-radius: 10%;
  outline: none;
  cursor: pointer;

  &--active {
    width: 10px;
    height: 10px;
    border: 0px solid white;
    border-left-width: 0.25rem;
    border-right-width: 0.25rem;
    border-radius: 0;
    background: #151515;
  }
}

.player__playback {
  position: relative;
  width: rem(442px);
  height: rem(4px);
  background: linear-gradient(to right, $red 0%, #333 0%);
  margin-left: 1.75rem;
}

.player__playback-line {
  // position: relative;
  // width: 0%;
  // height: 100%;
  // background: $red;
  width: 100%;
  display: flex;
  align-items: center;
}

.player__playback-button {
  // position: absolute;
  // width: rem(12px);
  // height: rem(12px);
  // border-radius: 50%;
  // background: $red;
  // top: 50%;
  // left: 100%;
  // transform: translateY(-50%);
  // padding: 0;
  width: 100%;
  height: 4px;
  border-radius: 1px;
  background-color: red;
  background: linear-gradient(90deg, red 0%, red 0%, #333 0%);
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  &::-webkit-slider-runnable-track {
    color: red;
    -webkit-appearance: none;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: red;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
}

.player__volume-icon {
  width: rem(13px);
  height: rem(16px);
  position: relative;
  opacity: 1;
  margin-left: 5%;
  cursor: pointer;
  &.muted {
    &::before {
      content: "";
      display: block;
      width: 150%;
      height: 2px;
      background-color: $red;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%) rotate(45deg);
    }
  }
}

.player__volume--img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  fill: white;
}

.player__volume {
  position: relative;
  width: rem(62px);
  height: 0.25rem;
  position: relative;
  margin-left: 1.5rem;
  background: linear-gradient(to right, $red 0%, #333 0%);
  cursor: pointer;
}

.player__volume-bar {
  // width: 0;
  // height: 100%;
  // background: $red;
  width: 100%;
  display: flex;
  align-items: center;
}

.player__volume-button {
  // position: absolute;
  // width: rem(12px);
  // height: rem(12px);
  // border-radius: 50%;
  // background: $red;
  // top: 50%;
  // left: 0%;
  // transform: translateY(-50%);
  // padding: 0;

  width: 100%;
  height: 4px;
  border-radius: 1px;
  background-color: red;
  background: linear-gradient(90deg, red 0%, red 0%, #333 0%);
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  &::-webkit-slider-runnable-track {
    color: red;
    -webkit-appearance: none;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: red;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
  }
}

// .player__splash {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background: url(../img/player7.png) center center/cover no-repeat;
//   cursor: pointer;
// }

.player--active .player__splash {
  display: none;
}
.player__elem {
  width: rem(662px);
  height: rem(392px);
  @include tablets {
    width: rem(594px);
    height: rem(351px);
  }
  @include phones {
    width: rem(394px);
    height: rem(233px);
  }
}







.video__player-img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 82px;
  height: 118px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  background: transparent;
  border: none;
}
.video__player-img--active {
  opacity: 0;
}
.video__btn-img {
  max-width: 100%;
  height: auto;
}

#player {
  width: 100%;
  height: 100%;
  display: block;
}