.benefits {
  display: flex;

  @include phones {
    flex-direction: column;
  }
}
.benefits__item {
  flex: 1;
  padding: 0 4%;
  position: relative;
  @include phones {
    padding: 0;
    margin-bottom: rem(31px);
  }

  &::before {
    content: url("../img/Comb.png");
    position: absolute;
    top: rem(63px);
    right: 0;
    transform: translateX(50%);
  }

  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;

    &::before {
      display: none;
    }
  }
  &::before {
    @include tablets {
      display: none;
    }
  }
}
.benefit {
  text-align: center;
  @include phones {
    display: flex;
    text-align: left;
  }
}

.benefit__icon {
  width: rem(60px);
  height: rem(60px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.benefit__image {
  margin-bottom: rem(24px);
  @include phones {
    margin-bottom: 0;
    margin-right: rem(12px);
  }
  &-wrapper {
    display: inline-block;
    width: rem(128px);
    height: rem(128px);
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    background: #f2f5f4;
  }
}
.benefit__title {
  font-weight: bold;
  font-size: rem(24px);
  line-height: rem(28px);
  margin-bottom: rem(7px);
  @include phones {
    margin-bottom: rem(6px);
  }
}
.benefits__section {
  position: relative;
  &::before {
    content: url("../img/Rectangle2.png");
    position: absolute;
    bottom: rem(-16px);
    left: rem(60px);
  }
}
.benefit__text {
  @include phones {
    padding-right: 8%;
  }
}
