// .footer__container {
//     max-width: 1500px;
//   }
.map-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .map__container {
    margin: 0 auto;
    width: 100%;
    // height: 100%;
    max-width: 1100px;
    position: relative;
      //  margin-top: auto;
  }
  .footer {
    // margin-left: auto;
    // margin-right: auto;
    margin-top: auto;

    // margin-bottom: 0;
  }
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 86px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer__col {
    display: flex;
    align-items: center;
  }
  .footer__col--align--right {
    align-items: flex-end;
  }
  .map__contacts {
    margin-left: 86px;
  }
  .contacts__desc {
    font-size: 18px;
    line-height: 24px;
    text-align: end;
    font-style: normal;
  }
  .social__link {
    display: block;
    width: 30px;
    height: 30px;
    background: center center no-repeat;
    position: relative;
  }
  .social__item {
    margin-right: 10px;
  }
  .social__item:last-child {
    margin-right: 0;
  }
  .social__list {
    /* margin-left: 200px; */
    margin-right: 54px;
    display: flex;
    align-items: center;
  }
  .social__link--tel::after {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: url(../img/sprite.png);
    background-position: -60px 0px;
    width: 30px;
    height: 30px;
  }
  .social__link--tel::before {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: url(../img/sprite.png);
    background-position: -60px -30px;
    width: 30px;
    height: 30px;
    opacity: 0;
  }
  .social__link--tel:hover::after {
    opacity: 0;
    transition: 0.3s;
  }
  
  .social__link--tel:hover::before {
    opacity: 1;
  }
  .social__link--vk::after {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: url(../img/sprite.png);
    background-position: 0px -60px;
    width: 30px;
    height: 30px;
  }
  .social__link--vk::before {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: url(../img/sprite.png);
    background-position: -30px -60px;
    width: 30px;
    height: 30px;
    opacity: 0;
  }
  .social__link--vk:hover::after {
    opacity: 0;
    transition: 0.3s;
  }
  
  .social__link--vk:hover::before {
    opacity: 1;
  }
  
  .social__link--fb::after {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: url(../img/sprite.png);
    background-position: 0px 0px;
    width: 30px;
    height: 30px;
  }
  .social__link--fb::before {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: url(../img/sprite.png);
    background-position: -30px 0px;
    width: 30px;
    height: 30px;
    opacity: 0;
  }
  .social__link--fb:hover::after {
    opacity: 0;
    transition: 0.3s;
  }
  
  .social__link--fb:hover::before {
    opacity: 1;
  }
  
  .social__link--ins::after {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: url(../img/sprite.png);
    background-position: 0px -30px;
    width: 30px;
    height: 30px;
  }
  .social__link--ins::before {
    position: absolute;
    content: "";
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-image: url(../img/sprite.png);
    background-position: -30px -30px;
    width: 30px;
    height: 30px;
    opacity: 0;
  }
  .social__link--ins:hover::after {
    opacity: 0;
    transition: 0.3s;
  }
  
  .social__link--ins:hover::before {
    opacity: 1;
  }