.hamburger__container--active{
  display: block;
  z-index: 10000;
  transition: 0.7s;

}
.hamburger {
  width: rem(26px);
  height: rem(24px);
  margin-top: rem(6px);
  flex-direction: column;
  justify-content: space-between;
  display: none;

  @include tablets {
    display: inline-flex;
  }
  &__plank {
    display: block;
    background: #292929;
    height: 4px;
    border-radius: 10px;
  }

  &--active{
    width: 20px;
    height: 20px;
    .hamburger__plank{
        background-color: white; 
        transform: scale(0);
        transition: 0s;
    &:first-child{
            transform: translateY(4px) rotate(135deg);
            transition: 0.7s;
        }
    &:last-child{
            transform: translateY(-12px) rotate(-135deg);
            transition: 0.7s;
        }

    }
}
}

.fullscreen-menu{
  display: none;
  height: 100%;
  width: 100%;
  min-height: rem(480px);
  background-color: #313131;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1000;
  .menu{
      display: flex;
      justify-content: center;
      margin: 0 auto;
      &__list{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
      }

      &__link{
          color: white;
          font-size: rem(36px);
          line-height: rem(72px);
      }
  }

  &--open{
      display: flex;
  }
}
.menu__item {
  @include tablets {
    margin-right: 0;
    margin-bottom: 0;
  }
}

