.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: "Alegreya Sans";
}
.menu__item {
  margin-right: 28px;
  &:last-child {
    margin-right: 0;
  }
}
.contacts-phone {
  font-size: 18px;
  font-style: normal;
  display: flex;
  align-items: center;
}
.contacts-phone__icon-elem {
  width: 14px;
  height: 14px;
}
.contacts-phone__icon {
  margin-right: 6px;
}
